<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="機電顧問, 電力檢測諮詢, 擔任用電場所電氣負責人, 每半年定期實施電氣設備保養檢驗, 二十四小時緊急事故搶修鑑定, 高低壓電氣設備檢驗, 用電品質分析檢測, 電力設備技術, 配電盤設備設計安裝修改, 高低壓動設備安裝施工, 挺鏠電檢">
    <meta name="description" content="挺鋒電檢創立於2003年6月，以提供專業電力檢測咨詢、服務；提升改善用電品質為目標，並以誠信、負責的創業精神完成業主所交付的工作。成立至今已獲得無數業主及同業之讚賞與口碑。">
    <title>@ViewBag.Title - 挺鋒電檢技術股份有限公司 TeamForce Electric Engineering CO.,LTD.</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lusitana">
    <link rel="stylesheet" href="~/Content/css/vendor/themify-icons.css">
    <link rel="stylesheet" href="~/Content/css/grid.css">
    @if (ViewBag.BodyClass == "Index")
    {





        <link rel="stylesheet" href="~/Content/css/index.css">
    }
    else
    {
        <link rel="stylesheet" href="~/Content/css/page.css">
    }
    @RenderSection("head", false)
</head>

<body class="@ViewBag.BodyClass">
    <div id="wrapper">
        <header id="header">
            <div class="wrap">
                <h1 class="logo pull-left" onclick="location.href='@Url.Content("~/Home")'" title="回首頁" tabindex="-1">
                    <span class="font-ming mobile-show">挺鋒電檢</span>
                    <span class="font-ming mobile-hide">挺鋒電檢技術股份有限公司</span>
                    <small class="font-en mt-2 block mobile-hide">TeamForce Electric Engineering CO.,LTD.</small>
                </h1>

                <div class="head-info font-sm">專業負責．機電顧問</div>

                <button class="mobile-toggle ti-menu" title="選單"></button>
                <nav id="menu" class="pull-right">
                    <a href="~/Home/AboutUs" class="nav-item @(ViewBag.BodyClass == "AboutUs" ? "current" : "")">公司簡介</a>
                    <a href="~/Home/Service" class="nav-item @(ViewBag.BodyClass == "Service" ? "current" : "")">服務項目</a>
                    <a href="~/Home/Perform" class="nav-item @(ViewBag.BodyClass == "Perform" ? "current" : "") ">公司實績</a>
                    <a href="~/Home/ContactUs" class="nav-item @(ViewBag.BodyClass == "ContactUs" ? "current" : "")">聯絡我們</a>
                    <a href="~/Home/Connect" class="nav-item @(ViewBag.BodyClass == "Connect" ? "current" : "")">相關連結</a>
                </nav>
            </div>
        </header>

        @* <div class="col-12 scrollHeader notScroll">
            <h2 class="inline-block pull-left headLogo" onclick="location.href='@Url.Content("~/Home")'" tabindex="-1">
                <img class="inline-block pull-left" src="~/Content/images/logo.png" title="回首頁" />
            </h2>
            <h2 class="inline-block pull-left ml-16 headTitle" onclick="location.href='@Url.Content("~/Home")'" title="回首頁" tabindex="-1">
                <small class="logo-sub block font-ll ">挺鋒電檢技術股份有限公司</small>
                <small class="logo-en block mt-4">TeamForce Electric Engineering CO.,LTD.</small>
            </h2>
            <nav class="navMenu pull-right">
                <a href="~/Home/AboutUs" class="nav-item @(ViewBag.BodyClass == "AboutUs" ? "current" : "")">公司簡介</a>
                <a href="~/Home/Service" class="nav-item @(ViewBag.BodyClass == "Service" ? "current" : "")">服務項目</a>
                <a href="~/Home/Perform" class="nav-item @(ViewBag.BodyClass == "Perform" ? "current" : "") ">公司實績</a>
                <a href="~/Home/ContactUs" class="nav-item @(ViewBag.BodyClass == "ContactUs" ? "current" : "")">聯絡我們</a>
                <a href="~/Home/Connect" class="nav-item @(ViewBag.BodyClass == "Connect" ? "current" : "")">相關連結</a>
            </nav>
        </div> *@

        @RenderBody()

    </div>

    <footer id="footer">
        <div class="wrap">
            <h1 class="foot-logo col-2">TeamForce 挺鋒電檢</h1>
            <ul class="foot-contact col-10 col-sm-9">
                <li class="tel"><span class="circle font-tiny">T</span> <a href="tel:03-4670099">03-4670099</a></li>
                <li class="fax"><span class="circle font-tiny">F</span> 03-4679008</li>
                <li class="font-sm"><a href="https://goo.gl/maps/uUeHQVW3TQK2" target="new">桃園市平鎮區振平街252號</a></li>
                <li class="font-sm"><a href="mailto:team.force@msa.hinet.net">team.force@msa.hinet.net</a></li>
            </ul>
        </div>
        <div class="copyright font-tiny">&copy; 2003 - @DateTime.Now.Year TeamForce Electric Engineering</div>
    </footer>

    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script>
        // 行動版選單
        $trigger = $('.mobile-toggle');
        $trigger.click(function () {
            $(this).toggleClass('active');
            $('body').toggleClass('mobile-menu-body');

            if ($(this).hasClass('active')) {
                $(this).removeClass('ti-menu').addClass('ti-close');
            }
            else {
                $(this).removeClass('ti-close').addClass('ti-menu');
            }
        });
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            $('#menu').click(function(e){
                $('body').removeClass('mobile-menu-body');
                $trigger.removeClass('active');
                e.preventDefault();
            });
            $(".nav-item").click(function(e){
                e.stopPropagation();
            });
        }

        /// 卷軸滾動效果 (Header goTop) ////
        var topHeader = $('#header');
        var headerOffset = topHeader.height() + topHeader.offset().top;
        $(window).scroll(function (e) {
            e.preventDefault();
            if (($(this).scrollTop() >= headerOffset) && (!topHeader.hasClass('scrolling'))) {
                topHeader.addClass('scrolling');
            }
            else if (($(this).scrollTop() < headerOffset) && (topHeader.hasClass('scrolling'))) {
                topHeader.removeClass('scrolling');
            }
            if ($(this).scrollTop() > 100) {
                $('.goTop').addClass('fade-in').removeClass('fade-out');
            } else {
                $('.goTop').removeClass('fade-in').addClass('fade-out');
            }
        });

        // 點選後跳到 href 指向的位置 - 可連其他頁的錨點版本
        $('.scroll').click(function () {
            var offset = topHeader.height();
            var target = this.hash;
            if ($(this).data('offset') != undefined) offset = $(this).data('offset');
            $('html, body').stop().animate({
                'scrollTop': $(target).offset().top - offset
            }, 800, 'swing', function() {
                window.location.hash = target;
            });
        });
        $('.goTop').click(function(){
            $("html, body").animate({ scrollTop: 0 }, 800);
            return false;
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
