<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>@ViewBag.Title - 挺鋒電檢技術股份有限公司 TeamForce Electric Engineering CO.,LTD.</title>
    <link href="https://fonts.googleapis.com/css?family=Lusitana" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/vendor/open-iconic.css">
    <link rel="stylesheet" href="~/Content/css/grid.css">
    @if (ViewBag.BodyClass == "Index")
    {
        <link rel="stylesheet" href="~/Content/css/index.css">
    }
    else
    {
        <link rel="stylesheet" href="~/Content/css/page.css">
    }
    @RenderSection("head", false)
</head>
<body class="@ViewBag.BodyClass">
    <div id="wrapper">
        <header id="header">
            <div class="wrap">
                <h1 class="logo pull-left" onclick="location.href='@Url.Content("~/Home")'" title="回首頁" tabindex="-1">
                    <span class="font-ming">挺鋒電檢技術股份有限公司</span>
                    <small class="font-en block mt-2">TeamForce Electric Engineering CO.,LTD.</small>
                </h1>

                <div class="head-info pull-right font-sm">專業負責．機電顧問</div>

                <button class="mobile-toggle oi menuIcon" data-glyph="menu" title="選單"></button>
                <nav id="menu" class="pull-right">
                    <a href="~/Home/AboutUs" class="nav-item @(ViewBag.BodyClass == "AboutUs" ? "current" : "")">公司簡介</a>
                    <a href="~/Home/Service" class="nav-item @(ViewBag.BodyClass == "Service" ? "current" : "")">服務項目</a>
                    <a href="~/Home/Perform" class="nav-item @(ViewBag.BodyClass == "Perform" ? "current" : "") ">公司實績</a>
                    <a href="~/Home/ContactUs" class="nav-item @(ViewBag.BodyClass == "ContactUs" ? "current" : "")">聯絡我們</a>
                    <a href="~/Home/Connect" class="nav-item @(ViewBag.BodyClass == "Connect" ? "current" : "")">相關連結</a>
                </nav>
            </div>
        </header>

        @* <div class="col-12 scrollHeader notScroll">
            <h2 class="inline-block pull-left headLogo" onclick="location.href='@Url.Content("~/Home")'" tabindex="-1">
                <img class="inline-block pull-left" src="~/Content/images/logo.png" title="回首頁" />
            </h2>
            <h2 class="inline-block pull-left ml-16 headTitle" onclick="location.href='@Url.Content("~/Home")'" title="回首頁" tabindex="-1">
                <small class="logo-sub block font-ll ">挺鋒電檢技術股份有限公司</small>
                <small class="logo-en block mt-4">TeamForce Electric Engineering CO.,LTD.</small>
            </h2>
            <nav class="navMenu pull-right">
                <a href="~/Home/AboutUs" class="nav-item @(ViewBag.BodyClass == "AboutUs" ? "current" : "")">公司簡介</a>
                <a href="~/Home/Service" class="nav-item @(ViewBag.BodyClass == "Service" ? "current" : "")">服務項目</a>
                <a href="~/Home/Perform" class="nav-item @(ViewBag.BodyClass == "Perform" ? "current" : "") ">公司實績</a>
                <a href="~/Home/ContactUs" class="nav-item @(ViewBag.BodyClass == "ContactUs" ? "current" : "")">聯絡我們</a>
                <a href="~/Home/Connect" class="nav-item @(ViewBag.BodyClass == "Connect" ? "current" : "")">相關連結</a>
            </nav>
        </div> *@

        @RenderBody()

    </div>

    <footer id="footer">
        <div class="wrap">
            <h1 class="foot-logo col-1 col-sm-2">TeamForce 挺鋒電檢</h1>
            <ul class="foot-contact col-11 col-sm-9">
                <li class="tel"><span class="circle font-tiny">T</span> <a href="tel:03-4670099">03-4670099</a></li>
                <li class="fax"><span class="circle font-tiny">F</span> 03-4679008</li>
                <li class="font-sm">桃園市平鎮區振平街252號</li>
                <li class="font-sm"><a href="mailto:team.force@msa.hinet.net">team.force@msa.hinet.net</a></li>
            </ul>
        </div>
        <div class="copyright font-tiny">&copy; 2003 - @DateTime.Now.Year TeamForce Electric Engineering</div>
    </footer>

    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script>
        //// 行動版選單 ////
        $menuActive = false;  ///設定選單狀態
        $('.menuIcon').click(function () {
            if (!$menuActive) {
                // $('.menuIcon').attr('data-glyph', 'x');
                $('.navMenu').addClass('mobile-menu');
                $('.mobile-menu').css('top', $(window).scrollTop());
                $('.mobile-toggle').addClass('ti-menu');
                $('body').addClass('mobile-menu-body');
                $('.nav-item').addClass('mobile-menu-item');
                $menuActive = !$menuActive;
            }
            else {
                // $('.menuIcon').attr('data-glyph', 'menu');
                $('.navMenu').removeClass('mobile-menu');
                $('.mobile-toggle').removeClass('ti-menu');
                $('body').removeClass('mobile-menu-body');
                $('.nav-item').removeClass('mobile-menu-item');
                $menuActive = !$menuActive;
            }

        });

        /// 滾動Header ////
        var topHeader = $('.scrollHeader');
        var headerOffset = $('#header').height() + $('#header').offset().top;
        $(window).scroll(function (e) {
            if (($(this).scrollTop() >= headerOffset) && (!topHeader.hasClass('scrolling')))
                topHeader.addClass('scrolling');
            else if (($(this).scrollTop() < headerOffset) && (topHeader.hasClass('scrolling')))
                topHeader.removeClass('scrolling');
        })
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
